.categories {
    display: flex;
    flex-direction: column;

    &__item {
        font-size: 20px;
        line-height: 26px;
        font-weight: 600;
        font-style: italic;
        margin: 0 0 20px;
    }
}

.products {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__item {
        height: 150px;
        display: flex;
        align-items: center;
        gap: 20px;
        border: 1px solid #371EFF;
        background-color: rgb(64, 119, 255, 0.1);
        border-radius: 15px;
        padding: 0 15px;
        width: calc(100% - 30px);

        &Active {
            height: 120px;
            width: 50%;
        }

        &_img {

            img {
                display: block;
                margin: auto;
            }
        }

        &_info {
            display: block;
            width: 70%;

            p {
                padding: 0;
            }
    
            &Price {
                font-weight: bold;
            }
        }
    }
}

.categoriesTable, .productsTable {
    display: block;
    background-color: #fafafa;
    width: 100%;
    max-height: 280px;
    overflow-y: scroll;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        width: 3px!important;
    }
      
      /* Track */
    &::-webkit-scrollbar-track {
        background: #f1f1f1!important;
      }
      
      /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #C0C0C0!important;
    }
      
    //   /* Handle on hover */
    // &::-webkit-scrollbar-thumb:hover {
    //     background: #371EFF!important;
    // }
}

.categoriesTable {
    &__item {
        width: calc(100% - 30px); 
        padding: 0 15px;
        font-weight: 600;
        font-size: 20px;
        line-height: 26px;
        font-style: italic;
    }
}

.productsTable {
    &__item {
        white-space: nowrap;
        width: calc(100% - 30px); 
        padding: 20px 15px;
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (max-width: 500px) {
    .products {
    
        &__item {
            height: 100px;
            gap: 10px;

            &_img > img {
                width: 80px;
            }

            &_info > p {
                margin: 0 0 5px 0;
                font-size: 12px;
            }
        }
    }
}
  
@media screen and (min-width: 501px) {
    .products {
    
        &__item {
            height: 150px;
            gap: 20px;

            &_img > img {
                width: 135px;
            }

            &_info > p {
                margin: 15px 0;
                font-size: 14px;
            }
        }
    }
}